root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[*.{md,rst}]
trim_trailing_whitespace = false

[*.{json,toml,yaml,yml}]
indent_style = space
indent_size = 2

[*.ipynb]
indent_style = space
indent_size = 1

[*.csv]
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf
